@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
}

a{
text-decoration: none;
padding: 20px;
    background-color: rgb(235, 225, 192);
    color: rgb(89,189,209);
    font-weight: bold;
    font-size: 16pt;
}
a:hover{
    background-color: rgb(57, 177, 121);
    color: rgb(255, 239, 194);
    transition: all 0.2;
    cursor: pointer;
}
#exit:hover{
    background-color: rgb(148, 62, 62);
    color: black;
}

#links{
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

html{
height: 100%;
}

hr{
width: 80%;
margin: 10px auto;
}

body{
min-height: 100%;
background: rgb(227,144,54);
background: linear-gradient(90deg, rgba(227,144,54,1) 0%, rgba(85,135,97,1) 50%, rgba(89,189,209,1) 99%);
}

html, body{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

#logout{
position: absolute;
top: 0px;
right: 0px;
}

#adminpanel{
position: absolute;
top: 20px;
right: 0px;
}

.chat{
width: 800px;
height: 700px;

display: flex;
align-self: center;
flex-direction: column;

}

.messages{
display: flex;
flex-flow: column nowrap;
overflow-y: scroll;

height: 90%;
}

.userMessage{
    color:white;
}

.message{
background-color: rgb(51, 43, 9);
display: inline-flex;
flex-flow: column nowrap;
margin-bottom: 10px;
padding: 0px 10px;
padding-bottom: 10px;
}

#send{
    font-size: 16pt;
}
#send:hover{
    background-color: rgb(89,189,209);
    color: rgb(235, 225, 192);
    transition: all 0.2;
    cursor: pointer;
}

textarea{
    font-size: 14pt;
}


.loginAndButton{
display: flex;
justify-content: space-between;
flex-direction: row;
margin-top: 10px;
}

.userLogin{
color: rgb(33, 131, 82);
}

.inputAndSubmit{
height: 10%;
display: flex;
flex-direction: row;
}

.inputAndSubmit textarea{
width: 80%;
resize: none;
}

.inputAndSubmit input{
width: 20%;

}

.delete{
background-color: white;
border: 1px solid black;

padding: 5px; 
}

.delete:hover{
    background-color: rgb(148, 62, 62);
    color: black;
    cursor: pointer;
}