@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
}

a{
text-decoration: none;
}

html{
height: 100%;
}

body{
min-height: 100%;
}

html, body{
width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
}

.registration{
position: absolute;
top: 0px;
right: 0px;
}

div{
align-self: center;
}

div form{
display: flex;
flex-direction: column;
}