@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
}

a{
text-decoration: none;
padding: 20px;
background-color: rgb(235, 225, 192);
color: rgb(89,189,209);
font-weight: bold;
font-size: 16pt;
}
a:hover 
{
    color: rgb(235, 225, 192);
    background-color: rgb(57, 177, 121);
}
#exit:hover{
    background-color: rgb(148, 62, 62);
    color: black;
}

html{
height: 100%;
}

body{
min-height: 100%;
background: rgb(227,144,54);
background: linear-gradient(90deg, rgba(227,144,54,1) 0%, rgba(85,135,97,1) 50%, rgba(89,189,209,1) 99%);
}

html, body{
width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 800px;
    margin: 50px auto;
}
h1, p{
    color: rgb(235, 225, 192);
}

form input{
    width: 480px;
    height: 20%;
    font-size: 16pt;
    transition: all 0.2;
    box-sizing: border-box;
}

.enter{
position: absolute;
top: 0px;
right: 0px;
}

#send:hover{
    background-color: rgb(89,189,209);
    color: rgb(170, 96, 16);
    transition: all 0.2;
    cursor: pointer;
}

#radio{
    display: flex;
}

label, .radio{
    width: 200px;
}
label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(235, 225, 192);
}
.radio{
    width: 15px;
    height: 15px;
}