@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Open Sans', sans-serif;
}

a{
text-decoration: none;
padding: 20px;
background-color: rgb(235, 225, 192);
color: rgb(89,189,209);
font-weight: bold;
font-size: 16pt;
}
a:hover 
{
    color: rgb(227,144,54);
    background-color: rgb(85,135,97);
}

html{
height: 100%;
}

body{
min-height: 100%;
background: rgb(227,144,54);
background: linear-gradient(90deg, rgba(227,144,54,1) 0%, rgba(85,135,97,1) 50%, rgba(89,189,209,1) 99%);
}

html, body{
width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 200px auto;
}
h1, p{
    color: rgb(235, 225, 192);
}

form input{
    width: 80%;
    height: 20%;
    font-size: 16pt;
    transition: all 0.2;
}

.enter{
position: absolute;
top: 0px;
right: 0px;
}

#send:hover{
    background-color: rgb(89,189,209);
    color: rgb(170, 96, 16);
    transition: all 0.2;
    cursor: pointer;
}